<div class="message-input-container">
  <div class="language-error" *ngIf="languageError">
    {{ errorMessage }}
  </div>
  <div class="input-messaging">
    <div class="input-content">
      <input 
        type="text" 
        class="message-input" 
        placeholder="Type your message..." 
        [(ngModel)]="messageText" 
        (keyup.enter)="onSendMessage()"
      />
      <button class="send-button" (click)="onSendMessage()" [disabled]="!messageText.trim()">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 2L11 13M22 2L15 22L11 13M22 2L2 9L11 13" stroke="#050100" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</div>
